{% extends 'userAccount.html.twig' %}

{% block content %}
    <section class="folder">
        <div class="size_error_folder">
            {% for error in errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
        <form class="form_create_folder" method="POST" action="?action=folder">
            <p class="center_option">New folder :</p>
            <p>Create a folder<br>
                <input type="text" name="folder_name" placeholder="Name folder">
                <select name="wich_folder">
                    <option value="0">Dossier principal</option>
                    {% for folder in allFolders %}
                        <option value="{{folder.id}}">{{folder.foldername}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Create folder">
            </p>
        </form>


        <form class="form_create_folder" method="POST" action="?action=folder">

            <p class="center_option">Move a folder in a folder:</p>
            <p>Select a folder, where you want him to go<br>
                Don't move folder in his own subfolder.
                <select name="folder_to_move">
                    {% for folder in allFolders %}
                        <option value="{{folder.id}}">{{folder.foldername}}</option>
                    {% endfor %}
                </select>
                <select name="folder_destination">
                    <option value="0">Dossier principal</option>
                    {% for folder in allFolders %}
                        <option value="{{folder.id}}">{{folder.foldername}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Move folder">
            </p>
        </form>

        <div class="row_show_folder_in_folder">
            {% for folder in allFolders %}
                <div class="colum_show_folder_in_folder">

                    <form class="form_folder_delete" method="POST" action="?action=folder">
                        <input class="none" type="text" name="id_folder_to_delete" value="{{folder.id}}">
                        <input type="submit" value="">
                    </form>

                    <img class="size_folder_upload" src="web/image/folder.png" alt="folder_img">

                    <div class="row_option_one_picture">
                        <div class="rename_folder_button">Rename</div>
                    </div>
                    <form class="form_rename_folder none" method="POST" action="?action=folder">
                        <input class="none" type="text" name="id_folder_to_rename" value="{{folder.id}}">
                        <input type="text" name="new_folder_name" value="" placeholder="NewName -> NewFolderName">
                        <input type="submit" value="Rename">
                    </form>
                    {{ folder.foldername }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}


