{% extends 'userAccount.html.twig' %}

{% block nav %}
<section class="upload">
    <div class="size_left_part_upload">
        <p class="p_nav">Welcome, {{ user.username }}</p>
        <p class="p_nav underline">Lists filename :</p>
        <div class="list_upload">
            {% for file in allFiles %}
                    <p> {{file.filename}}</p>
                <!--<p> {{file.type}}</p>
                <p>{{file.filepath}}</p>-->
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}

{% block content %}
<section class="upload">

    <div class="size_error_upload">
        {% for error in errors %}
            {{ error }}<br>
        {% endfor %}
    </div>
    <div class="width_all_form">
        <div class="size_form_upload">
            <form method="POST" action="?action=upload" enctype="multipart/form-data">
                <p class="center_option">UPLOAD :</p>
                <p>Pick a File<br>
                    Click on Open and after Upload<br>
                    Files .jpg / .jpeg / .png / .pdf / .txt / .mp3 / .mp4
                    <br>
                    <input type="file" name="uploaded_file">
                    <input type="txt" name="initial_new_name">
                    <input type="submit" name="upload_button" value="Upload">
                </p>
            </form>
        </div>

        <div class="size_form_replace">
            <form method="POST" action="?action=upload" enctype="multipart/form-data">
                <p class="center_option">REPLACE :</p>
                <p>Pick a File<br>
                    Click on Open and after Upload<br>
                    Files .jpg / .jpeg / .png / .pdf / .txt / .mp3 / .mp4
                    <br>
                    <input type="file" name="replacement_file">
                    <select name="select_replace">
                        {% for file in allFiles %}
                            <option value="{{file.id}}">{{file.filename}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="replace_button" value="Replace">
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}




