{% extends 'user_account.html.twig' %}

{% block content %}
<section class="your_files">
    <div>
        {% for error in errors %}
            {{ error }}<br>
        {% endfor %}
    </div>
    <div class="size_row_folder_show">
        {% for folder in allFolders %}
            <div class="colum_for_folder">
                <img class="size_folder_upload" src="web/image/folder.png" alt="{{file.filepath}}">
                {{ folder.foldername }}
            </div>
        {% endfor %}
    </div>
    <div class="size_row_img_show">
        {% for file in allFiles %}
            <div class="column_for_all_info">
                <!--<p> {{file.type}}</p>-->

                {% if file.type == "image" %}
                    <!--<p>{{file.filepath}}</p>-->
                    <form class="form_delete" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_delete" value="{{file.id}}">
                        <input type="submit" value="">
                    </form>
                    <img class="size_picture_upload" src="{{file.filepath}}" alt="{{file.filepath}}">

                    <div class="row_option_one_picture">
                        <a href="{{file.filepath}}" download="{{file.filepath}}">
                            <img class="logo_download" src="web/image/download.png" alt="download"/>
                        </a>
                        <div class="rename_button">Rename</div>
                    </div>

                    <form class="form_rename none" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_rename" value="{{file.id}}">
                        <input type="text" name="new_name" value="" placeholder="NewName -> NewName.ext">
                        <input type="submit" value="Rename">
                    </form>

                {% endif %}

                {% if file.type == "application" %}
                    <!--<p>{{file.filepath}}</p>-->
                    <form class="form_delete" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_delete" value="{{file.id}}">
                        <input type="submit" value="">
                    </form>
                    <img class="size_picture_upload" src="web/image/doc.png" alt="{{file.filepath}}">

                    <div class="row_option_one_picture">
                        <a href="{{file.filepath}}" download="{{file.filepath}}">
                            <img class="logo_download" src="web/image/download.png" alt="download"/>
                        </a>
                        <div class="rename_button">Rename</div>
                    </div>

                    <form class="form_rename none" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_rename" value="{{file.id}}">
                        <input type="text" name="new_name" value="" placeholder="NewName -> NewName.ext">
                        <input type="submit" value="Rename">
                    </form>

                {% endif %}

                {% if file.type == "audio" %}
                    <!--<p>{{file.filepath}}</p>-->
                    <form class="form_delete" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_delete" value="{{file.id}}">
                        <input type="submit" value="">
                    </form>
                    <audio class="size_picture_upload" src="{{file.filepath}}" alt="{{file.filepath}}" controls></audio>

                    <div class="row_option_one_picture">
                        <!--<a href="{{file.filepath}}" download="{{file.filepath}}">
                            <img class="logo_download" src="web/image/download.png" alt="download"/>
                        </a>-->
                        <div class="rename_button">Rename</div>
                    </div>

                    <form class="form_rename none" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_rename" value="{{file.id}}">
                        <input type="text" name="new_name" value="" placeholder="NewName -> NewName.ext">
                        <input type="submit" value="Rename">
                    </form>

                {% endif %}

                {% if file.type == "video" %}
                    <!--<p>{{file.filepath}}</p>-->
                    <form class="form_delete" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_delete" value="{{file.id}}">
                        <input type="submit" value="">
                    </form>
                    <video class="size_picture_upload" src="{{file.filepath}}" controls></video>

                    <div class="row_option_one_picture">
                        <a href="{{file.filepath}}" download="{{file.filepath}}">
                            <img class="logo_download" src="web/image/download.png" alt="download"/>
                        </a>
                        <div class="rename_button">Rename</div>
                    </div>

                    <form class="form_rename none" method="POST" action="?action=your_files">
                        <input class="none" type="text" name="id_file_to_rename" value="{{file.id}}">
                        <input type="text" name="new_name" value="" placeholder="NewName -> NewName.ext">
                        <input type="submit" value="Rename">
                    </form>

                {% endif %}
                <p> {{file.filename}}</p>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}




